body{
    background-color: rgba(139, 167, 220, 0.729);
    font-family: 'Caprasimo', cursive;
    margin: 0 auto;
}

.main{
    max-width: 850px;
    border: solid 1px black;
    box-shadow: 1px 81px 100px 5px rgba(0,0,0,0.49);
    margin: auto;
    display: flex;
}

.leftblock{
    background-color: rgb(66, 90, 186);
    color: #fff;
}

img{
    width: 280px;
    height: 300px;
    border-radius: 100px; 
    box-shadow: 0 0 7px #666;
}

h3{
    padding-left: 20px;
}

.underlined{
    width: 100%;
    height: 0.05rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: white;
}

.discord{
    padding-left: 20px;
}

.git{
    list-style-type: none;
}

.examples{
    margin-left: -20px;
}

.rsschool {
    width: 100px;
    height: 100px;
    margin-left: 82px;
}

.underlined1{
    width: 100%;
    height: 0.05rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: white;
}

.rightblock{
    display: flex;
    flex-direction: column;
}

.educ{
    line-height: 9.5mm;
    padding-bottom: 20px;
}

.about{
    line-height: 9mm;
}

.code{
    line-height: 2cm;
}

.footer_nav_list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    grid-gap: 100px;
}

.fab{
    font-size: 45px;
}

.year{
    font-size: 45px;
}
