body{
    margin: 0 auto;
    width: 1440px;
    height: auto;
    background-color: #0C0C0E;
}

.header{
    background-color: #0C0C0E;
    display: flex;
    color: #FFF;
}

h1 {
    font-size: forum;
    margin-right: 454px;
    
}

.menu{
    display: flex;
    gap: 30px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin-right: 40px;
}

.icon{
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    padding: 31px 31px;
}

.main{
    height: auto;
}

.img1{
    position: relative;
    width: 1440px;
    height: 600px;
    background-image: url(./welcome-1440.jpg);
}

.welcome-bg{
    position: absolute;
    width: 660px;
    height: 220px;
    background-color: #0C0C0E;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 255px;
}
.welcome{
    position: absolute;
    width: 520px;
    height: 150px;
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 35px 40px;
}

.AboutBlock{
    height: 837px;
    background-color: #FFF;
}

h2{
    padding-top: 20px;
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 0px;
}

.line{
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
    
}

.about-paragraph{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.image-row{
    display: flex;
    width: 1400px;
    height: 560px;
    flex-shrink: 0;
    margin-left: 20px;
    gap:25px;
    margin-bottom: 40px;
}

.svg-buttons{
    cursor: pointer;
    width: 68px;
    height: 16px;
    flex-shrink: 0;
    margin-left: 686px;
}

.FavouritesBlock{
    height: 1439px;
    background: #FFF;
}

h3{
    padding-top: 20px;
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 0px;
}

.paragraph-season{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
}

.radio-buttons{
    margin-left: 20px;
}

label{
    margin-right: 90px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.first-row-bg-descriptions{
    display: flex;
    margin-top: 40px;
    margin-left: 20px;
}

.first-bg-descrption{
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 260px;
}

.staff{
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
}

.line-description{
    width: 60px;
    height: 1px;
    background: #BB945F;
    margin-left: 20px;
}

.book-name{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 20px;
}

#description{
    width: 355px;
    height: 320px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
}
button{
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    margin-left: 20px;
}
.book{
    position: absolute;
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    top: 255px;
    left: 390px;
}

.second-bg-descrption{
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    position: relative;
}

.second-row-bg-descriptions{
    display: flex;
    margin-top: 40px;
    margin-left: 20px;
}

.third-bg-descrption{
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 260px;
}

.fourth-bg-descrption{
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    position: relative;
}

.CoffeeShopBlock{
    display: flex;
    width: 1440px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: #FFF;
    height: 841px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.Coffee-header{
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.Coffee-line{
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
}

.Coffee{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 1400px;
    margin-right: 0px;
}

.menu-food{
    width: 1400px;
    height: 520px;
    display: flex;
    justify-content: space-between;
}

.coffee-and-tea-menu{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 438px;
    height: 520px;
}

.coffee-paragraph{
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    width: 235px;
    height: 40px;
}

.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #000;
    width: 438px;
    height: 40px;
}

.line-menu{
    width: 100px;
    height: 1px;
    background: #BB945F;
}

.deserts{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    width: 438px;
    height: 520px;
    
}

.menu-paragraph{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.menu-money{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.desert-paragraph{
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.Contacts{
    display: flex;
    width: 1440px;
    padding-top: 20px;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: #FFF;
}

.our{
    color: #0C0C0E;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.line-contact{
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
}

.contacts-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 201px;
}

.text-info{
    width: 503px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.phrase1{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.phrase2{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.phrase3{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.phrase4{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.phrase5{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.phrase6{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.digital-library-cards{
    height: 614px;
    background: #FFF;
}

.find-card{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 453px;
    flex-shrink: 0;
}

.title-find-card{
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.card-block{
    width: 600px;
    height: 386px;
    flex-shrink: 0;
    border: 3px solid #BB945F;
    background: #FFF;
    display: flex;
    flex-direction: column;
}

.inside-card-block{
    width: 560px;
    height: 272px;
    flex-shrink: 0;
    background: #BB945F;
    display: flex;
    flex-direction: column;
}

.title{
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}

.reader{
    width: 520px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}

.card-number{
    width: 520px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}

.check-the-card{
    display: inline-flex;
    padding: 10px 40px;
    align-items: flex-end;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
}